<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Common styles, scripts, and meta tags -->
    <%- include('../partials/head') %>

    <!-- Title -->
    <title>Mon dashboard | Skillswap</title>

    <!-- Style -->
    <link rel="stylesheet" href="/css/pages/dashboard.css" />

    <!-- JavaScript -->
    <script defer src="/js/pages/dashboard.js"></script>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main class="main">
      <div class="dashboard__container">

        <!-- First Section: User Info, Skills, and Interests -->
        <section class="dashboard__header">
          <div class="dashboard__user">
            <div class="user__edit">
              <button class="dashboard__edit-btn secondary-button" id="edit-user-btn" aria-label="Modifier mon profil">
                <i class="fa-solid fa-square-pen"></i>
              </button>
            </div>
            <img
              src="<%= user.image ? `/images/${user.image}.png` : '/images/avatar.png' %>"
              alt="Avatar de <%= user.firstname %> <%= user.lastname %>"
              class="user__avatar"
              />
            <div class="user__identity">
              <h1 class="user__name"><%= user.firstname %> <%= user.lastname %></h1>
              <div class="user__location">
                <i class="location__icon fa-solid fa-location-dot"></i>
                <p class="location__text"><%= user.location %></p>
              </div>
              <p class="user__email"><%= user.email %></p>
            </div>
          </div>
          
          <ul class="dashboard__statistics">
            <li class="dashboard__stat">
              <strong><%= user.followers.length %></strong>
              <span>abonné·e·s</span>
            </li>
            <li class="dashboard__stat">
              <strong><%= user.following.length %></strong>
              <span>abonnements</span>
            </li>
            <li class="dashboard__stat">
              <strong><%= user.skills.length %></strong>
              <span>compétences</span>
            </li>
          </ul>
        </section>

        <!--  Second section: about, skills and interests  -->
        <section class="dashboard__content">
          
          <!--  About Section  -->
          <section class="dashboard__about">
            <div class="dashboard__section-header">
              <h2 class="dashboard__section-title">À propos de moi</h2>
              <div class="dashboard__section-edit">
                <button class="dashboard__edit-btn secondary-button" id="edit-bio-btn" aria-label="Modifier ma bio">
                  <i class="fa-solid fa-square-pen"></i>
                </button>
              </div>
            </div>

            <% if (user.bio ) { %>
              <p class="about__text"><%= user.bio %></p>
            <% } else { %>
              <p class="about__no-text">Vous n'avez pas encore renseigné votre bio.</p>
            <% } %>
          </section>

          <!--  Skills Section  -->
          <section class="dashboard__skills">
            <div class="dashboard__section-header">
              <h2 class="dashboard__section-title">Mes compétences</h2>
              <button class="dashboard__edit-btn secondary-button" id="add-skill-btn" aria-label="Ajouter une compétence">
                <i class="fa-solid fa-square-plus"></i>
              </button>
          </div>
          <ul class="dashboard__tag-list">
            <% user.skills.forEach(skill => { %>
              <li class="dashboard__tag"><%= skill.description %></li>
              <% }) %>
            </ul>
          </section>
          
          <!--  Interests Section  -->
          <section class="dashboard__interests">
            <div class="dashboard__section-header">
              <h2 class="dashboard__section-title">Mes intérêts</h2>
              <button class="dashboard__edit-btn secondary-button" id="add-interest-btn" aria-label="Ajouter un intérêt">
                <i class="fa-solid fa-square-plus"></i>
              </button>
            </div>
            <ul class="dashboard__tag-list">
              <% user.interests.forEach(interest => { %>
                <li class="dashboard__tag"><%= interest.description %></li>
              <% }) %>
            </ul>
          </section>
            
        </section>
        
      </div>
    </main>
      
      <%- include('../partials/footer') %>
      <%- include('../partials/dashboard/editUserInfoModal') %>
      <%- include('../partials/dashboard/editBioModal') %>
      <%- include('../partials/dashboard/addSkillModal') %>
      <%- include('../partials/dashboard/addInterestModal') %>
  </body>
</html>
    