<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Common styles, scripts, and meta tags -->
    <%- include('../partials/head') %>

    <!-- Title -->
    <title>Mon dashboard | Skillswap</title>

    <!-- Style -->
    <link rel="stylesheet" href="/css/pages/dashboard.css" />

    <!-- JavaScript -->
    <script defer src="/js/pages/dashboard.js"></script>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main class="main">
      <div class="dashboard__container">

        <!-- First Section: User Info, Skills, and Interests -->
        <section class="dashboard__header">
          <div class="dashboard__user">
            <img
              src="<%= user.image ? `/images/${user.image}.png` : '/images/avatar.png' %>"
              alt="Avatar de <%= user.firstname %> <%= user.lastname %>"
              class="user__avatar"
              />
            <div class="user__identity">
              <h1 class="user__name"><%= user.firstname %> <%= user.lastname %></h1>
              <div class="user__location">
                <i class="location__icon fa-solid fa-location-dot"></i>
                <p class="location__text"><%= user.location %></p>
              </div>
              <p class="user__email"><%= user.email %></p>
            </div>
          </div>
          
          <ul class="dashboard__statistics">
            <li class="dashboard__stat">
              <strong><%= user.followers.length %></strong>
              <span>abonné·e·s</span>
            </li>
            <li class="dashboard__stat">
              <strong><%= user.following.length %></strong>
              <span>abonnements</span>
            </li>
            <li class="dashboard__stat">
              <strong><%= user.skills.length %></strong>
              <span>compétences</span>
            </li>
          </ul>
      </section>

      <!--  Second section: about, skills and interests  -->
      <section class="dashboard__content">
        
        <!--  About Section  -->
        <section class="dashboard__about">
          <div class="dashboard__section-header">
            <h2 class="dashboard__section-title">À propos de moi</h2>
            <button
            class="dashboard__edit-btn"
            aria-label="Modifier la section À propos de moi"
            data-modal-target="about"
            >
              Modifier
            </button>
          </div>

          <% if (user.bio ) { %>
            <p class="about__text"><%= user.bio %></p>
          <% } else { %>
            <p class="about__no-text">Vous n'avez pas encore renseigné votre bio.</p>
          <% } %>
        </section>

        <!--  Skills Section  -->
        <section class="dashboard__skills">
          <div class="dashboard__section-header">
            <h2 class="dashboard__section-title">Mes compétences</h2>
            <button
            class="dashboard__edit-btn"
            aria-label="Modifier mes compétences"
            data-modal-target="skills"
            >
            Modifier
          </button>
        </div>
        <ul class="dashboard__tag-list">
          <% user.skills.forEach(skill => { %>
            <li class="dashboard__tag"><%= skill.name %></li>
            <% }) %>
          </ul>
        </section>
        
        <!--  Interests Section  -->
        <section class="dashboard__interests">
          <div class="dashboard__section-header">
            <h2 class="dashboard__section-title">Mes intérêts</h2>
            <button
            class="dashboard__edit-btn"
            aria-label="Modifier mes intérêts"
            data-modal-target="interests"
            >
              Modifier
            </button>
          </div>
          <ul class="dashboard__tag-list">
            <% user.interests.forEach(interest => { %>
              <li class="dashboard__tag"><%= interest.name %></li>
              <% }) %>
            </ul>
          </section>
          
        </section>
        
        
        </div>
      </main>
      
      <%- include('../partials/footer') %>
    </body>
    </html>
    