<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Common styles, scripts, and meta tags -->
    <%- include('../partials/head') %>

    <!-- Title -->
    <title> <%= user.firstname.charAt(0).toUpperCase() + user.firstname.slice(1) %> <%= user.lastname.charAt(0).toUpperCase() %>. | Skillswap</title>

    <!-- Style -->
    <link rel="stylesheet" href="/css/pages/user.css" />

    <!-- Script -->
    <script defer src="/js/pages/user.js"></script>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main class="main">
      <div class="user__container">
    
        <!-- First Section: User Info, Skills, and Interests -->
        <section class="user__header">
          
          <!-- User Main Info -->
          <section class="user__info">
            <img class="user__avatar" src="<%= user.image ? `/images/${user.image}.png` : '/images/avatar.png' %>" alt="Avatar de <%= user.firstname.charAt(0).toUpperCase() + user.firstname.slice(1) %> <%= user.lastname.charAt(0).toUpperCase() %>.">

            <div class="user__identity">
              <h1 class="user__name"><%= user.firstname.charAt(0).toUpperCase() + user.firstname.slice(1) %> <%= user.lastname.charAt(0).toUpperCase() %>.</h1>
              <div class="user__location">
                <i class="location__icon fa-solid fa-location-dot"></i>
                <p class="location__text"><%= user.location %></p>
              </div>
            </div>
          </section>

          <!-- User Actions -->
          <section class="user__actions">
            <button class="user__button--follow small-call-to-action"> Suivre </button>
            <button class="user__button--contact secondary-button"> Contacter </button>
          </section>
    
          <!-- Skills List -->
          <section class="user__subsection">
            <h2 class="subsection__title">Compétences</h2>
            <ul class="subsection__list">
              <% if (user.skills && user.skills.length > 0) { %>
                <% user.skills.forEach(skill => { %>
                  <li class="user__li"><%= skill.description %></li>
                <% }); %>
              <% } %>
            </ul>
          </section>
    
          <!-- Interests List -->
          <section class="user__subsection">
            <h2 class="subsection__title">Intérêts</h2>
            <ul class="subsection__list">
              <% if (user.interests && user.interests.length > 0) { %>
                <% user.interests.forEach(interest => { %>
                  <li class="user__li"><%= interest.description %></li>
                <% }); %>
              <% } %>
            </ul>
          </section>
    
        </section>
    
        <!-- Second Section: Tabs for About, Availability, and Reviews -->
        <section class="user__content">

          <!-- Nav -->
          <nav class="user__tabs">
            <button class="user__tab user__tab--active" data-tab="about">
              <i class="tab__icon fas fa-user"></i>
              <p class="tab__text">À propos</p>
            </button>
            <button class="user__tab" data-tab="availabilities">
              <i class="tab__icon fas fa-calendar-alt"></i>
              <p class="tab__text">Disponibilités</p>
            </button>
            <button class="user__tab" data-tab="reviews">
              <i class="tab__icon fas fa-comments"></i>
              <p class="tab__text">Témoignages</p>
            </button>
          </nav>
    
          <!-- About Tab Content -->
          <div class="user__tab-content user__tab-content--active" id="user-about">
            <% if (user.bio ) { %>
              <p class="user__about"><%= user.bio %></p>
            <% } else { %>
              <p class="user__no-about"><%= user.firstname.charAt(0).toUpperCase() + user.firstname.slice(1) %> n'a pas encore renseigné sa bio.</p>
            <% } %>

          </div>

          <!-- Availabilities Tab Content -->
          <div class="user__tab-content" id="user-availabilities">
            <ul class="user__availabilities">
              <% if (user.availabilities && user.availabilities.length > 0) { %>
                <% user.availabilities.forEach(availability => { %>
                  <li class="user__availability">
                    <i class="availability__icon fas fa-calendar-alt"></i>
                    <p class="availability__date"><%= availability.date %></p>
                    <p class="availability__time-slot">De <%= availability.start_time %> à <%= availability.end_time %></p>
                  </li>
                <% }); %>
              <% } else { %>
                <p class="user__no-availabilities"><%= user.firstname.charAt(0).toUpperCase() + user.firstname.slice(1) %> n'a pas encore de disponibilités.</p>
              <% } %>
            </ul>
          </div>

          <!-- Reviews Tab Content -->
          <div class="user__tab-content" id="user-reviews">
            <ul class="user__reviews">
              <% if (user.reviewsReceived && user.reviewsReceived.length > 0) { %>
                <% user.reviewsReceived.forEach(review => { %>
                  <li class="user__review">
                    <div class="review__author">
                      <img class="author__avatar" src="<%= review.reviewer.image ? `/images/${review.reviewer.image}.png` : '/images/avatar.png' %>" alt="Avatar de <%= review.reviewer.firstname.charAt(0).toUpperCase() + review.reviewer.firstname.slice(1) %> <%= review.reviewer.lastname.charAt(0).toUpperCase() %>.">
                      <p class="author__identity">
                        <%= review.reviewer.firstname.charAt(0).toUpperCase() + review.reviewer.firstname.slice(1) %> <%= review.reviewer.lastname.charAt(0).toUpperCase() %>.
                      </p>
                    </div>
                    <div class="review__content">
                      <p class="review__rating"><%= review.rating %> / 5</p>
                      <p class="review__description"><%= review.review %></p>
                    </div>
                    <div class="review__date">
                      <p>Laissé le: <%= new Date(review.created_at).toLocaleDateString() %></p>
                    </div>
                  </li>
                <% }); %>
              <% } else { %>
                <p class="user__no-reviews"><%= user.firstname.charAt(0).toUpperCase() + user.firstname.slice(1) %> n'a pas encore reçu d'avis.</p>
              <% } %>
            </ul>
          </div>

        </section>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
